.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 30px;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.5);
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(1.05);
}

.badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #FFD6A5;
  color: #FF8A00;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 10px;
}

.image-container {
  width: 210px;
  height: 210px;
  margin-top: 40px;
  border-radius: 50%;
  background-color: #fdf3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.play-button {
  margin-top: auto;
  background-color: #C6F6C6;
  color: #FF8800;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background-color: #A5E6A5;
}
