@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
  font-family: 'Baloo 2', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.game-container1 {
  background: linear-gradient(145deg, #f3e5f5, #e1bee7);
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.level-progress-bar1 {
  background: #caa2e4;
  border-radius: 20px;
  overflow: hidden;
  height: 50px;
  width: 100%;
}

.level-progress-fill1 {
  background: #7b3fbf;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.learn-content1 {
  display: flex;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #f9f1ff;
  padding: 20px;
  border-radius: 15px;
  gap: 20px;
  height: calc(100vh - 160px);
  align-items: center;
}

.learn-images1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  flex: 7;
}

.animal-img1 {
  width: 100px;
  height: 100px;
}

.learn-video-side1 {
  flex: 3;
  text-align: center;
}

.finger-count1 {
  margin-top: 20px;
  font-size: 24px;
}

.highlighted-number1 {
  color: #7b5fd0;
  font-weight: bold;
}

.learn-input1 {
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  transition: 0.2s;
}

.check-btn1 {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #eecbff;
  cursor: pointer;
}

.result-text1 {
  margin-top: 15px;
  font-size: 20px;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-8px); }
  40%, 80% { transform: translateX(8px); }
}

.shake-camera1 {
  animation: shake 0.6s;
  border: 4px solid red;
  border-radius: 8px; 
}


.top-bar1 {
  display: flex;
  width: 80%;
  max-width: 900px;
  margin: 0 auto 20px auto;
  align-items: center;
  gap: 20px;
}

.pause-button1 {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pause-icon1 {
  display: flex;
  gap: 6px;
}

.pause-icon1 > div {
  width: 4px;
  height: 24px;
  background-color: #7b3fbf;
  border-radius: 2px;
}

.pause-button1 span > div {
  width: 6px;           
  height: 28px;         
  background-color: #333;
  border-radius: 2px;   
}

.progress-wrapper1 {
  flex: 9;
}